header {
    height: 100vh;
    background-image: linear-gradient(to top, rgb(109, 103, 228, 0.4) 0%, rgb(178, 132, 245, 0.4) 100%), url(fondo-banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    padding-top: 150px;
    padding-bottom: 150px;
}