* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    display: grid;
    place-items: center;
    height: 100vh;
}

.contenedor_form, .ctn_input, .ctn_button {
    display: flex;
    flex-direction: column;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0.4) 80%), url(fondo-login-cliente.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contenedor_form {
    backdrop-filter: blur(3px);
    background: rgba(202, 202, 202, 0.85);
    width: 420px;
    margin: 20px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;
}

    .contenedor_form h1 {
        color: black;
        text-align: center;
    }

.ctn_input {
    margin: 10px;
}

    .ctn_input label {
        color: black;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .ctn_input input {
        padding: 12px 10px;
        border: 1px solid black;
        border-radius: 5px;
        background: rgb(255, 255, 255);
        color: black;
    }

.ctn_button {
    margin: 10px;
    margin-top: 25px;
}

    .ctn_button button {
        padding: 12px 10px 12px 10px;
        margin-bottom: 15px;
        border: none;
        border-radius: 5px;
        background: rgb(0, 0, 0);
        color: #d8d8d8;
        font-size: 15px;
        font-weight: bold;
    }

        .ctn_button button:hover {
            transition: 0.5s;
            color: #e4a700;
            box-shadow: 0 0 20px #e4a700;
        }

.olvidaste_clave, .registrate {
    color: #0066ff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    font-size: 15px;
}

    .olvidaste_clave:hover, .registrate:hover {
        transition: 0.3s;
        color: rgb(65, 0, 168);
    }

.olvidaste_clave {
    margin-bottom: 8px;
}

.ctn_error {
    background-color: rgba(233, 0, 0, 0.753);
    border-radius: 5px;
    margin: 20px 10px;
    padding: 10px;
    text-align: center;
    color: white;
}

.ctn_button p {
    margin-top: 5px;
}

hr {
    margin: 15px 0;
    border: solid 1px #505050;
}

.mensaje {
    text-align: center;
}
