
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restablecer</title>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="contenedor">
        <div class="contenedor_form">
            <form action="@Url.Action("Reestablecer", "Acceso")" method="post">

                <h1>RECUPERAR CONTRASEÑA</h1>

                <div class="ctn_input">
                    <label for="inputEmail">Ingresa tu correo:</label>
                    <input id="inputEmail" name="correo" type="email" placeholder="Ejemplo@cybershop.com" />
                </div>

                @{
                    if (ViewBag.Error != null)
                    {
                        <div class="ctn_error">
                            @ViewBag.Error
                        </div>
                    }
                }

                <div class="ctn_button">
                    <button type="submit">Enviar correo</button>
                    <a class="btn_volver" href="@Url.Action("Login", "Acceso")">Regresar</a>
                </div>

            </form>
        </div>
    </div>

    <script src="~/Scripts/bootstrap.bundle.js"></script>

</body>
</html>
